			<div class="floating-box">
				<h1 class="center">Contact Us</h1>
				<form method="post" action="demoform.asp">
					<div data-role="fieldcontain">
						<label for="contact-name">Name:</label>
						<input type="text" id="contact-name" value={{name}} data-clear-btn="true">
					</div>
					<div data-role="fieldcontain">
						<label for="contact-email">Email:</label>
						<input type="text" id="contact-email" value={{email}} data-clear-btn="true">
					</div>
					<label for="message">Message:</label>
					<textarea name="message" id="message"></textarea>
				</form>
			</div>