{{#if police}}
<ul class="home-buttons">
	<li><a href="#home">Home</a></li>
	<li><a href="#le-reports">Reports</a></li>
	<li><a href="#lookup">Lookup</a></li> 
	<li><a href="#le-profile">Profile</a></li>
</ul>
{{else}}
<ul class="home-buttons">
	<li><a href="#home">Home</a></li>
	<li><a href="#register">Register</a></li>
	<li><a href="#my-bikes">My Bikes</a></li>
	<li><a href="#reports">Reports</a></li>
	<!-- <li><a href="#lookup">Lookup</a></li>  -->
	<li><a href="#profile">Profile</a></li>
	<!-- <li><a href="#settings">Settings</a></li> -->
</ul>
{{/if}}