<div class="floating-box">
	<h1 class="center">Bike Lookup</h1>
	<br>
	<input type="search" name="serial-lookup" placeholder="Enter a serial number...">
	<h2 class="center" style="color: red">Status: Either Not Registered or Not Stolen</h2>
</div>