<div class="floating-box">

				<h1 class="center">Settings</h1>

				<h2>Account Info</h2>
				<h4>Email: {{profile.email}}</h4>
				<a class="ui-btn" href="#change-email-popup" data-rel="popup">Change Email</a>
				<a class="ui-btn" href="#change-password-popup" data-rel="popup">Change Password</a>
				<a class="ui-btn" href="#forgot-password-popup" data-rel="popup">Forgot Password</a>

				<h2>About BikeNab</h2>
				<button onclick="goSomewhere('#about')">About Us</button>
				<button onclick="goSomewhere('#contact')">Contact Us</button>

				<h2>Goodbye</h2>
				<button  onclick="goSomewhere('#login')">Log Out</button>
				<a class="ui-btn" href="#delete-account-popup" data-rel="popup">Delete Account</a>

				<!-- Change Email popup -->
				<div data-role="popup" id="change-email-popup" class="popup">
					<form onSubmit="return false;">
						<div>
							<h3>Change Email</h3>
							<label for="old-pw">Enter password to confirm this action:</label>
							<input type="password" id="old-pw" placeholder="Password">
							<label for="new-pw">New Email:</label>
							<input type="text" id="new-pw" placeholder="New Email">
							A verification email will be sent to this email address.
							<button type="submit" class="blue-button">Change Email</button>
						</div>
					</form>
				</div>

				<!-- Change Password popup -->
				<div data-role="popup" id="change-password-popup" class="popup">
					<form onSubmit="return false;">
						<div>
							<h3>Change Password</h3>
							<label for="old-pw">Old Password:</label>
							<input type="password" id="old-pw" placeholder="Old Password">
							<label for="new-pw">New Password:</label>
							<input type="password" id="new-pw" placeholder="New Password">
							<label for="confirm-new-pw">Confirm New Password:</label>
							<input type="password" id="confirm-new-pw" placeholder="Confirm New Password">
							<button type="submit" class="blue-button">Change Password</button>
						</div>
					</form>
				</div>


				<!-- Forgot Password popup -->
				<div data-role="popup" id="forgot-password-popup" class="ui-content popup">
					<form onSubmit="return false;">
						<div>
							<h3>Password Recovery</h3>
							<input type="text" name="email" id="user" placeholder="Enter your email">
							We will send you a password recovery email.
							<button type="submit" class="blue-button">Submit</button>
						</div>
					</form>
				</div>


				<!-- Delete Account popup -->
				<div data-role="popup" id="delete-account-popup" class="popup">
					<form onSubmit="return false;">
						<div>
							<h3>Delete Account</h3>
							<label for="pw-before-delete">Please enter your password to confirm this action.</label>
							<input type="text" name="pw-before-delete" id="pw-before-delete" placeholder="Password">
							<label for="are-you-sure">I understand that my personal information will be permanently deleted.</label>
							<input type="checkbox" name="are-you-sure" id="are-you-sure" value="are-you-sure">
							<button type="submit" class="blue-button">Delete Account Permanentely</button>
						</div>
					</form>
				</div>
			</div>