$red-highlight: #ed1a3b;
$blue-black: #254ea2;
$light-blue: #E0E2F0;
$normal-font: Arial;
$fancy-font: 'Archivo Black', sans-serif;


@mixin side-padding($pixels) {
	padding-left: $pixels;
	padding-right: $pixels;
}

@mixin side-margin($pixels) {
	margin-left: $pixels;
	margin-right: $pixels;
}


//===================================================//

/* Page-Specific Styling */

//===================================================//




/* Login Page Styling */

// Big Screens
@media screen and (min-width: 340px) {

	#login-box {
		margin: auto;
		width: 300px;
		height: 360px;
		@include side-padding(40px);
	}

	#bikenab {
		font-size: 50px;
	}

	#login {
		img {
			height: 120px;
		}
	}
}

// Small screens
@media screen and (max-width: 340px) {

	#login-box {
		margin: auto;
		height: 320px;
		@include side-margin(20px);
		@include side-padding(20px);
	}

	#bikenab {
		font-size: 45px;
	}

	#login {
		img {
			height: 80px;
		}
	}
}


#login {
	background-color: $light-blue;
	z-index: 1;

	// Top and bottom buttons
	.center button {
		padding: 4px;
		background-color: $light-blue;
		color: $blue-black;
		float: left;
		display: inline-block;
		border-width: 0px;
		font-size: 15px; //TODO: If possible, have font size expand on big screens, contract on small
	}

	#middle-button {
		border-color: $blue-black;
		border-left-width: 1px;
		border-right-width: 1px;
	}

	#left-button {
		border-color: $blue-black;
		border-right-width: 1px;
	}


	// Login box styling
	img {
		width: auto;
		display: block;
		margin: auto;
		transform: translate(-5%, 0);
	}

	#login-box {
		background-color: white;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#bikenab {
		color: black;
		margin: auto;
		text-align: center;
		font-family: $fancy-font;
	}

	#register {
		color: $red-highlight;
		margin: auto;
		text-align: center;
		font-size: 20px;
		//font-family: normal-font; //TODO: Why doesn't this work?
	}

	.login-input {
		border: solid 1px $blue-black;
		color: $blue-black;
	}
}

.ui-content {
	@include side-padding(0px);
}




/* Home Screen */

#home {

	.icon-button {
		width: 45%;
		max-width: 250px;
		background-color: $blue-black;
		text-shadow:0 0 0;
		color: white;
		font-size: 20px;
		display: inline-block;
		text-align: center;
		@include side-padding(0px);
		height: 150px;
	}

	.center-block {
		text-align: center;
		align: center;
		display: block;
	}
}

.thin {
	margin: 0px;
	padding: 0px;
}



/* Regstration Page */

#register {
	.registration-pic {
		width: 250px;
		height: 250px;
	}

	.registration-button {
		width: 250px;
		display: block;
	}

	.blue-button {
		background-color: $blue-black;
		color: white;
		text-shadow:0 0 0;
	}
}


/* Create Account Page  */ 

.account-link {
	display: block;
	vertical-align: center;
	line-height: 40px;
	height: 40px;
	margin-top: 50px;
}





//===================================================//

/* STUFF USED ACROSS THE SITE */

//===================================================//


/* Background Styling */

.stripey {

	display: block;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	z-index: -1;


	hr {
		background-color: $red-highlight;
		height: 2px;
		border: none;
		margin: 3px 0px;
	}

	.stripe {
		height: 200px;
		background-color: $blue-black;
		margin: 0px;
	}
}


/* General Page Styling */

.blue { //TODO: Name this better
	background-color: $light-blue;
	position: absolute;
	z-index: 1;
	//padding-top: 50px;
}

.header {
	//position: fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:20;
}

#body .center {
		text-align: center;
		align: center;
	}



/* Menu Styling */

#body .home-buttons {
	a {
		height: 30px;
		border: none;
		text-align: center;
		vertical-align: middle;
		line-height: 30px;
		@include side-margin(0px);
		@include side-padding(0px);
		background-color: #444;
		color: white;
		text-shadow:0 0 0;
	}
}


/* White box floating over the background */

.floating-box {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin:auto;
	margin-top: 30px;
}

// Big Screens
@media screen and (min-width: 620px) {
	.floating-box {
		margin: auto;
		width: 600px;
		@include side-padding(40px);
		z-index: 10;
	}
}

// Small Screens
@media screen and (max-width: 620px) {
	.floating-box {
		//width: 100%;
		@include side-margin(0px);
		@include side-padding(20px);
		z-index: 10;
	}
}


.flipswitch-holder {
	width: 300%;
}


/* Icon Styling */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
