$red-highlight: #ed1a3b;
$blue-black: #254ea2;
$light-blue: #E0E2F0;
$normal-font: Arial;
$fancy-font: 'Archivo Black', sans-serif;

/* Login Page Styling */

#login {
	background-color: $light-blue;
	z-index: -10;


	.center {
		text-align: center;
	}

	// Top and bottom buttons
	button {
		background-color: transparent;
		color: $blue-black;
		float: left;
		display: inline-block;
		border-width: 0px;
	}

	// .spacer {
	// 	background-color: yellow;
	// 	width: 3px;
	// 	height: 10px;
	// }


	#middle-button {
		border-color: $blue-black;
		border-left-width: 1px;
		border-right-width: 1px;
	}

	// Login box styling
	img {
		width: auto;
		display: block;
		height: 200px;
		margin: auto;
	}

	#login-box {
		margin: auto;
		background-color: white;
		width: 350px;
		height: 450px;
		padding: 10px;
	}

	p {
		margin: auto;
	}

	#bikenab {
		color: black;
		margin: auto;
		text-align: center;
		font-size: 50px;
		font-family: $fancy-font;
	}

	#register {
		color: $red-highlight;
		margin: auto;
		text-align: center;
		font-size: 20px;
		//font-family: normal-font; //TODO: Why doesn't this work?
	}

	input {
		outline-color: red;
		border-color: yellow;
		color: blue; //TODO: MAke sure this does something!
	}

}




/* Background Styling */

.background {

	display: block;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	z-index: -1;


	hr {
		background-color: $red-highlight;
		height: 2px;
		border: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 3px;
		margin-bottom: 3px;
	}

	.stripe {
		height: 200px;
		background-color: $blue-black;
		margin: 0px;
	}
}

